/*-- scss:defaults --*/
// Base document colors
$body-bg: #2c3237;
$body-color: white;
$link-color: #2698ba;
$navbar-bg: #2c3237;
$navbar-fg: white;
$navbar-hl: #2698ba;
$btn-border-radius: 0.4em;

// Code blocks
$code-block-bg-alpha: -.8;