// palettes.catppuccin_mocha

$catmocha-rosewater  : #f5e0dc;
$catmocha-flamingo   : #f2cdcd;
$catmocha-pink       : #f5c2e7;
$catmocha-orange     : #cba6f7;
$catmocha-red        : #f38ba8;
$catmocha-maroon     : #eba0ac;
$catmocha-peach      : #fab387;
$catmocha-yellow     : #f9e2af;
$catmocha-green      : #a6e3a1;
$catmocha-teal       : #94e2d5;
$catmocha-sky        : #89dceb;
$catmocha-sapphire   : #74c7ec;
$catmocha-blue       : #89b4fa;
$catmocha-lavender   : #b4befe;
$catmocha-text       : #cdd6f4;
$catmocha-subtext1   : #bac2de;
$catmocha-subtext0   : #a6adc8;
$catmocha-overlay2   : #9399b2;
$catmocha-overlay1   : #7f849c;
$catmocha-overlay0   : #6c7086;
$catmocha-surface2   : #585b70;
$catmocha-surface1   : #45475a;
$catmocha-surface0   : #313244;
$catmocha-base       : #1e1e2e;
$catmocha-mantle     : #181825;
$catmocha-crust      : #11111b;